@import "../../scss/index.scss";

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.modal-title {

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  p {
    font-family: Noto Sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

.modalfooter {

  border-top: none;
  padding: 0.25rem;
  margin: 0%;

}

.sign-up-form {
  &__left{
    overflow: hidden;
    min-height: 73vh;
    background-image: url("../../assets/images/saturn-modal.png");
    display: flex;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    background-repeat: no-repeat;
    background-size: cover;

    div {
      z-index: 1;
      
    }
  }

  &__right{
    overflow: hidden;
    padding-top: 95px;
    padding-left: 25px !important;

    input.form-control,
    textarea.form-control {
      width: 100%;
      height: 48px;
      border-radius: 4px;
      background-color: #fcfcfb;
      
      font-family: Noto Sans,sans-serif;
      font-size: 12px;
      font-weight: 600;

      &:active{
        border-color: #24a0ed;
        background-color: #fff;
      }

      &:hover{
        border-color: rgba(0,0,0,.2);
        background-color: #fff;
      }
    }

    &__options {
      button{
        padding: 14px 0px 14px 0px;
        font-weight: 600;
        width: 100%;
        font-family: IBMPlexSans, sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
        align-items: initial;
      }
    }

    &__divider {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      margin-top: 13px;
      margin-bottom: 23px;
      justify-content: space-between;

      &__Line {
        border-top: 1px solid rgb(237, 239, 241);
        width: 40%;
      }

      &__Text {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: rgb(135, 138, 140);
      }
    }

    h4 {
      font-size: 18px;
      font-family: IBMPlexSans, sans-serif;
      font-weight: 550;
    }

    

    p {
      font-size: 12px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      line-height: 18px;
      margin-top: 8px;
      margin-bottom: 48px;
    }

    div {
      z-index: 1;
    }

    &__final{
      button{
        font-family: IBMPlexSans,sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .5px;
        width: 100%;
        color: #fff;
        display: inline-block;
        border: none;
        border-radius: 4px;
        text-align: center;
        background: #0079d3;
        cursor: pointer;
        line-height: unset;
        height: 35px;
        overflow: inherit;
        position: relative;
      }
    }
    
  }

  &__sug{ 
    padding-top: 30px;

    p {
      font-family: Noto Sans,sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      margin-top: 0;
      margin-bottom: 8px;
    }


    a {
      font-family: IBMPlexSans,sans-serif;
      font-size: 14px;
      font-weight: 500;
      display: block;
      margin-bottom: 8px;
    }
  }

  &__final{
    overflow: hidden;
    padding-top: 35px;
    padding-left: 36px !important;

    input.form-control,
    textarea.form-control {
      width: 85%;
      height: 45px;
      border-radius: 4px;
      background-color: #fcfcfb;
      
      font-family: Noto Sans,sans-serif;
      font-size: 12px;
      font-weight: 600;

      margin-bottom: 23px;

      &:active{
        border-color: #24a0ed;
        background-color: #fff;
      }

      &:hover{
        border-color: rgba(0,0,0,.2);
        background-color: #fff;
      }
    }

    padding-bottom: 38%;
  }
}

