$primary: #FF4500;
$primary-light: #ff723d;
$primary-gray: #dadada;
$primary-gray-light: #f8f9fa;
$primary-dark:#1c1c1c;
$primary-dark-light: #2e2e2e;

$secondary: #0079d3;
$secondary-light: #7192ff;

$font-dark: $primary-dark;
$font-light: $primary-gray-light;
$font-gray: #878a8c;
$font-gray-light: #b1b1b1;

$border: #38444d;

$backgroung-default: #DAE0E6;
$background-light: #fff;
$backgroung-card-sider: $primary-gray;
$background-dark-gray: #f3f3f3;

$danger: #e0245e;